.chat {
    padding: 20px 30px;
    width:auto;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
