header {
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    list-style: none;
    width: auto;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    background: darkgray;
    height: 120px;/*Задаем высоту обертки*/

  }

.header-title {
    padding-left: 30px;
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    /* background: dodgerblue;
    color: white; */
    width: auto; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}

.header-users-count {
    padding-left: 30px;
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    width: auto; /* Фиксируем ширину блока */
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}

.header-messages-count {
    padding-left: 30px;
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    /* background: dodgerblue; */
    /* color: white;*/
    width: auto; /*Фиксируем ширину блока */
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}

.header-last-message-date {
    float: right; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    /* background: dodgerblue;
    color: white; */
    width: auto; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}
