
.container {
    position: relative;
    width: auto;
}
  
img {
  opacity: 1;
  display: block;
  width: 150px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
  
.middle .message-user-name {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;  
  padding: 16px 32px;
  padding-left: 10px;
  position: absolute;
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.message-text {
  font-size: 24px;
  padding-left: 30px;
}

.card-message div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
}

.message-time {
  font-size: 24px;
  padding-left: 30px;
  vertical-align: middle;
}
